/* App wide */
.App {
  position: relative;
  display: block;
  color: white;
  width: 100%;
}

.page {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#body-row {
  margin-left:0;
  margin-right:0;
}

/* Site Top Header */
nav {
  min-height: 5vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-brand {
  font-family: "Roboto Slab", serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  position: relative;
}

.nav-item {
  font-size: 1.25rem;
}

.nav-link {
  color: white;
}

.buttonDisabled {
  cursor: text !important;
  text-decoration: None !important;
}

.linkbtn {
  margin-left: 1rem;
}

.nav-link:hover {
  color: #1da1f2;
}

.active {
  color: white !important;
}

/* Side Nav */

.sidenav {
  height: 100%;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: #2f4050;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sticky-offset {
  top: 75px;
}

.navlist {
  height: auto;
  width: 100%;
  padding: 0;
}

.navlist .navrow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: lightgray;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navlist .navrow:hover {
  cursor: pointer;
  background-color: #293846;
  color: white;
}

.navlist #active {
  background-color: #293846;
  color: white;
}

.navrow #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.navrow #category {
  flex: 70%;
}

/* Landing Page */

#hello-user {
  color: lightgray
}

.landing-content {
  top: 5rem;
  position: relative;
}

#title {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
}

#solgan {
  margin: 5rem;
}

#landing-nav {
  margin: 5rem 15rem;
}

.login {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.register {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  font-weight: bold;
}

.nav-pills .nav-item {
  border: 1px solid black;
  background-color: #2f4050;
}

.nav-pills .nav-item:hover {
  background-color: #2d4963;
  box-shadow: 1px 1px 5px #1da1f2;
}

/* Content */

/* .content-list {
  margin-top: 1rem;
} */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 400px;
  height: 60px;
  margin: 10px;
  font-size: 18px;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 500px;
  border: 2px black solid;
}

.form-box input {
  width: 80%;
  height: 50px;
  margin: 10px;
}

.form-box textarea {
  width: 80%;
  height: 60px;
}

.card {
  display: flex;
  border: 0.5px solid rgb(197, 196, 196);
  border-radius: 15px;
  /* background-color: #2f4050; */
  background-color: #15202B;
  padding: 0px;
  margin: 10px;

}

.card-body {
  text-align: left;
  align-items: center;
}

.card-body:hover {
  cursor: pointer;
  background-color: #1b2a38;
  border-radius: 15px;
}

.card-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 3rem;
  border-top:  0.5px solid rgb(197, 196, 196);
}

.card-button {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card-button.left:hover {
  cursor: pointer;
  background-color: #2d4963;
  box-shadow: 1px 1px 5px #1da1f2;
  border-bottom-left-radius: 15px;
}

.card-button.right:hover {
  cursor: pointer;
  background-color: #2d4963;
  box-shadow: 1px 1px 5px #1da1f2;
  border-bottom-right-radius: 15px;
}

#updateInput {
  width: 100px;
  height: 20px;
}

.createPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadPost button {
  margin-top: 1rem;
  width: 80%;
  border-color: black;
  background-color: lightgray;
  font-weight: bold;
}

.post {
  width: 450px;
  margin: 10px;
  border: 1px solid black;
  max-height: 400px;
  background-color: lightgrey;
  box-shadow: 1px 1px 8px black;
}

.page-header {
  height: 250px;
  background-color: #293846;
}

.category-box {
  background-color: #15202B;
  border: 0.5px solid rgb(197, 196, 196);
  border-radius: 15px;
  margin-top: 2rem;
}

.category-box .cat-cell {
  margin: 1rem;
}

.category-box .cat-cell:hover {
  box-shadow: 1px 1px 5px #1da1f2;
  border-radius: 15px;
}

#askButton {
  border-radius: 30px;
  margin: 5px;
  border: 1px solid black;
  background-color: #125A87;
}

#ask-li:hover {
  background-color: #2f4050;
}

#askButton:hover {
  box-shadow: 1px 1px 8px #1da1f2;
}